

.branding {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
}
.mr_10 {
    margin-right: 10px;
}

.branding_hour {
    display: flex;
    align-items: center;
}

.hour {
    color: white;
    font-size: 16px;
    font-weight: 900;
}
.hour p {
    margin: 0;
}
.branding_logo {
    width: 140px;
    height: 120px;
    margin-right: 20px;
}
.branding_logo img {
    width: 100%;
    height: 100%;
}

.branding_contact {
    display: flex;
    justify-content: center;
    align-items: center;
}
.branding_contact p {
    font-size: 18px;
    color: white;
    font-weight: 1000;
    margin: 0;
}
.icon {
    color : #EF524A;
    font-size: 32px;
}
@media (max-width : 768px) {
    .hide_on_moblie {
        display: none;
    }
}